# =========================
# Environment Variables
# =========================
.env
backend/.env
frontend/.env

# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Node.js
# =========================
node_modules/

# =========================
# Build folders
# =========================
dist/
build/

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db